.NavList {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0;
  }
  
  .NavList li {
    padding: 10px;
    box-sizing: border-box;
  }
  .nav-title{
    margin: 0 auto;
  }
  .nav-title img{
    width: 300px;
    justify-content: center;
  }